{
    log {
        output stdout
        format console
    }
}

:80 {
    reverse_proxy /api/* tisk-backend:8080
    reverse_proxy tisk-frontend:4173
}

:443 {
    tls internal
    reverse_proxy /api/* tisk-backend:8080
    reverse_proxy tisk-frontend:4173
}
